
#root{
    background-color: rgba(141, 140, 140, 0.486);
    margin: 0 auto;
    max-width: 500px;
}

.set-wrapper{
    display: flex;
   justify-content: space-around;

}

h1{
    text-align: center;
}

.button-add{
    display: block;
    margin-left: auto;
    padding: 20px;
}



